<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/gosport"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoSportApp"
        tools:targetApi="31">
        <activity
            android:name=".ActivityCambiarContrasena"
            android:exported="false" />
        <activity
            android:name=".ActivitySolicitarCodigo"
            android:exported="false" />
        <activity
            android:name=".ActivityVerificarCodigo"
            android:exported="false" />
        <activity
            android:name=".recuperarContrasenaCheck"
            android:exported="false" />
        <activity
            android:name=".dialog_codigo_verificacion1"
            android:exported="false" />
        <activity
            android:name=".DialogRecuperarContrasena1"
            android:exported="false" />
        <activity
            android:name=".planillero.viewActivities.EquiposAsignadosPlanillero.PlanilleroFragment"
            android:exported="false" />
        <activity
            android:name=".jugador.viewActivities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".jugador.viewActivities.activities.navegacioMenuApp.NavegacionMenuApp"
            android:exported="false" />
        <activity
            android:name=".jugador.viewActivities.activities.activitiesAuth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".jugador.viewActivities.activities.activitiesAuth.ActivityLogin"
            android:exported="false" />
        <activity
            android:name=".ActivityLanding"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>